# Location where builds are stored(all levels)...
x64/
x86/
Debug/
Release/
bin/
packages/

# Location where builds are stored(inside)...
.vs/*

# Exceptions

!testing/bin/x64/Release/opencv_world411.dll
!testing/bin/x64/Release/CsvHelper.dll
!testing/bin/x64/Release/OpenXLSX.dll

!testing/bin/x64/Debug/opencv_world411d.dll
!testing/bin/x64/Debug/CsvHelper.dll
!testing/bin/x64/Debug/OpenXLSX.dll
!OpenXLSX.dll